body{
    margin: 0px
}
header{
    height: 200px;
}
.fondoBatman{
    height: 80%;
    background-color: rgb(211, 211, 211);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barraTitulo{
    height: 20%;
    color: #005677;
    text-align: center;
    background-color: rgb(184, 181, 181);
}
.tituloPrincipal{
    margin: 0px;
}

main{
    height: 650px;
    padding-right: 50px;
    padding-left: 70px;
    
}
section h2{
    
    margin: 0px;
    height: 30px;
    background-color: rgb(184, 181, 181);
    font-size: 20px;
    color: #005677;
    
}
ul{
    margin: 0px;
    display: inline-block;
}
p{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 28.5%;
}

footer{
    height: 40px;
    background-color: #005677;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pSeccion3{
    width: 300px;
    margin-left: 74px;
}
.p2Seccion3{
    width: 500px;
    margin-left: 79px;
}
.p3Seccion3{
    width: 700px;
    margin-left: 78px;
}